/* Sharing buttons */

.sharing-buttons {
    text-align: center;
}

.sharing-buttons > .share-label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
    color: white;
}

.sharing-buttons > a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    border-radius: 3px;
    margin-right: 6px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 5px #00000042;
}

.sharing-buttons > a > svg {
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    color: white;
}

.sharing-buttons > a.twitter {
    background-color: #55acee;
}

.sharing-buttons > a.facebook {
    background-color: #3b5998;
}

.sharing-buttons > a.email {
    background-color: #32506d;
}

.sharing-buttons > a.reddit {
    background-color: #ff4500;
}

.sharing-buttons > a.pinterest {
    background-color: #cb2027;
}

.sharing-buttons > a.tumblr {
    background-color: #32506d;
}

.sharing-buttons > a:hover {
    filter: brightness(115%);
}
